*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# OpenCV
opencv/
opencv-sdk/
opencv451/.idea/
.kotlin/
# OpenCV build files
opencv/build/
opencv/.cxx/
